body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 25px;
}
.top-menu{
  display: flex;
  margin-bottom: 150px;
}
span{
  color: rgb(228, 25, 228);
}
.half-div{
  width: 50%;
  padding: 15px 30px;
}
.para{
  font-weight: 500;
  margin-bottom: 40px;
}
.custom-btn{
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: linear-gradient(rgb(250, 145, 215), purple);
  padding: 10px 25px;
  border-radius: 5px;
}
.custom-btn:hover{
  transition: 0.5s;
  box-shadow: 5px 5px 10px pink;
}
.top-image{
  width: 100%;
  border-radius: 20px;
}
/* dream menu starts */
.dream-menu{
  display: flex;
}
.experi h1{
  text-align: center;
}
.experi hr{
  border-bottom: none;
  width: 300px;
  border: 5px solid gray;
  border-radius: 10px;
}
.experiences{
  display: flex;
  padding: 20px;
}
.expo-box{
  width: 15%;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 30px;
  box-shadow: 8px 12px 15px gray;
  height: 300px;
  padding: 30px;
}
.expo-box:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.expo-box h2{
  text-align: center;
}
.expo-box p{
  text-align: center;
}
footer{
  height: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(243, 102, 196), purple);
}
footer p{
  font-size: 20px;
  color: white;
}